// common
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  & .cta-button {
    position: absolute;
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: #212121;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    & > .cta-content {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
    }
  }
  
}

/* input[file] layout */
.files {
  position: relative;
  outline: 2px dashed #e9e9e9;

  & input {
    padding: 50px 20px;
  }

  & input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.files:before {
  content: "파일을 끌어서 업로드해주세요. ";
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4e5968;
  font-weight: 400;
  font-size: 14px;
  pointer-events: none;
}

.file-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background-color: #e7f1fd;
  border-radius: 8px;
  margin-top: 15px;
  padding: 0 10px;

  & p {
    font-size: 14px;
  }

  & svg {
    font-size: 20px;
    margin-right: 3px;
    cursor: pointer;
  }

  & svg:last-child {
    position: absolute;
    right: 35px;
    font-size: 20px;
  }
}

/* 모달창 외부 */
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 모달창 내부 */
  & .modalWrapper {
    position: absolute;
    width: 400px;
    height: auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    line-height: 1.2;

    & .inner {
      & .ico {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 22px;
        cursor: pointer;
      }

      & h2 {
        font-size: 18px;
        text-align: left;
        margin-bottom: 30px;
      }

      & .desc {
        font-size: 12px;
        text-align: left;
        & p {
          margin: 10px 0;
          & .highlight {
            display: block;
            color: red;
            font-weight: 400;
          }
        }
      }
    }
  }

  & .buttonWrapper {
    display: flex;
    margin: 0 auto;
    padding-top: 30px;

    button {
      width: 100%;
      margin: 0 3px;
      padding: 12px;
      border-radius: 8px;
      cursor: pointer;
    }

    :hover {
      color: #fff;
      background-color: #c4c4c4;
      transition: all 0.2s;
    }

    :active {
      background-color: #000;
      color: #fff;
    }
  }
}
